- Migrate to Centos
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/migrate-to-centos.sh" -threads -auto2

- Execute the update script
release_runner.pl -forced_host v_HOSTS -c sudo_cmd -m "./remote_transfer/system_update.sh -a v_BUNDLE -p" -threads -auto2
