- Exec gigantor workflow
Exec_with_creds: /usr/lib/gigantor/bin/kp_client start --url="https://gig-kingpin1-0-v_DATACENTER.data.sfdc.net" --name AFW_Razor_Basic_HostBuild --release_host=${HOSTNAME} --arguments CLUSTER=v_CLUSTER DATACENTER=v_DATACENTER HOSTSTRING=v_HOSTS MONITORHOST=v_MONITOR OS_TYPE=CentOS OS_VERSION_MAJOR=7 OS_VERSION_MINOR=2 POST_HOSTBUILD_COMMAND="/usr/local/libexec/system_update.sh -a v_BUNDLE -p" SUPERPOD=v_SUPERPOD SERIAL_NUMBER=v_SERIAL DEVICEROLE=v_ROLE FINAL_HOST_STATE_IDB=ACTIVE PRESERVE=true IB_USER=admin IB_PASSWORD=`python /opt/cpt/bin/get_ib_passwd.py` INVENTORY_ACTION_SCRIPT_PATH="/home/sfdc/current/dca-inventory-action/dca-inventory-action/inventory-action.pl""